/* Media Query for Laptops and Desktops */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
/*-----------------------------------------------------contact----------------------------------------------------- */

    .contact {
      margin-left: 5%;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 50%;
        margin-right: -28%;
        margin-left: 17%;
    }

    .mobilephone {
        margin-left: 0px;
    }

    .form {
        padding-right: 20%;
    }

    .font-contact {
      font-size: 17px;
    }

    footer {
      margin-top: 15%;
      margin-right: -4%;
      margin-left: 14%;
    }

    .logo-footer {
      margin-left: 5%;
    }

    .icon {
      margin-left: -6%;
      margin-right: -7%;
    }


    /*-----------------------------------------------------blog----------------------------------------------------- */

    .blog-img {
      margin-top: 60px;
      width: 81%;
    }

    .freelencer {
      font-size: 50px;
    }

    .larry-stark {
      font-size: 20px;
    }

    .blog {
      margin-left: -15%;
    }

    footer {
      margin-top: 15%;
      margin-right: -4%;
      margin-left: 14%;
    }


  }
