body{
    font-family: 'Roboto', sans-serif;
}

/*---------------HOME---------------*/
/*---------------zainal---------------*/
/* navigasi */
.navbar .navbar-nav .nav-link:hover {
  background-color: yellow;
  color: #fff;
}

nav .btn {
  width: 100px;
  height: 35px;
  border: solid #f47522 1px;
  background-color: #f47522;
  color: #fff;
}
/* end navigasi */

/* Start jumbotron */
.jumbotron {
  padding: 11rem 5rem;
  background-color: #edf6ff;
}

.tulisan {
  color: #053260;
  margin-left: 35rem;
}

.tulisan button {
  font-size: 14px;
  width: 200px;
  height: 35px;
  background-color: #f47522;
}

.photo-circle {
    height: auto;
    width: 30%;
}
/* end jumbotron */

/* footer home */
.kaki {
  width: 500px;
  height: 35px;
}

/*---------------wanda---------------*/
/*---------------ABOUT---------------*/

.alterra-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #19345E;
    color: white;
    opacity: 70%;
    height: 101%;
    margin-bottom: -2%;
    text-align: center;
    margin-right: -7%;
    padding: 182px 272px -2px 0px;
    width: 110%;
    margin-top: 14%;
}

.alterra-text h1{
    font-size: 55px;
    margin-top: 14%;
    margin-bottom: 2%;
}

.meet-about {
    font-size: 45px;
    text-align: center;
    color: #19345E;
    margin-bottom: 7%;
}

.about {
    position: relative;
    text-align: center;
    color: white;  
    font-family: Arial;  
}

.about img {
    width: 110%;
    height: auto;
    margin-left: -5%;
}
/*---------------MEET OUR TEAM---------------*/

.meet-team h1 {
    font-size: 45px;
    text-align: center;
    color: #19345E;
}

.meet-team h6 {
    text-align: center;
    color: #19345E;
    font-size: 18px;
}

.meet-team {
    margin-bottom: 7%;
}

.girl-center {
    height: auto;
    width: 225px;
    margin-left: 41%;
}

.arrow {
    margin-left: 350px;
}
/*---------------Latest Blog---------------*/

.latestblog {
    font-size: 45px;
    text-align: center;
    color: #19345E;
}

.Larry-stark {
    margin-left: -20px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #707070;
}

.blog-date {
    padding-top: 10px;
    padding-bottom: 15px;
    color: #707070;
}

.readmore {
    margin-left: 212px;
    color: #F47522;
    margin-top: -15px;
}

.readmore2 {
    color: #19345E;
    margin-left: 212px;
    margin-top: -15px;
}

.post-title {
    font-size: 14px;
    color: #19345E;
    width: 275px;
    height: 97px;
    margin-top: -15px;
    margin-bottom: 0px;
}

.post-img {
    width: 285px;
    height: 206px;
    margin-top: 60px;
    margin-left: 1%;
    margin-right: -5%;
}

.create {
    padding-top: 32px;
    color: #19345E;
}

.img-fluid {
    width: 285px;
    
}

.post-box {
    margin-left: 3px;

}


/*---------------ABOUT TEAM---------------*/




/*---------------Blog---------------*/

.logo-bar {
    width: 30%;
    height: auto;
    margin-right: -25%;
}

.nav {
    margin-top: 5%;
    margin-bottom: 2%;
}

.menu-bar {
    display: contents;
    margin-right: 5%;
}

.event-img {
    width: 100%;
    height: auto;
    margin-left: -5%;
}

.nav-menu {
    position: fixed;
    z-index: 20;
    width: 1233px;
    height: 89px;
    background-color: #ffffff no-repeat padding-box;
    box-shadow: 0px 3px 6px #c1c3c736;
    opacity: 1;
}

.padding-menu {
    padding-right: 68px;
}

.menu-ul {
    display: inline-flex;
}

.text-event {
    font-size: 16px;
    color: #777;
    margin-top: 5%;
    padding-left: 20px;
}

.title-event {
    margin-top: 10%;
    color: #1a355f;
    padding-left: 10px;
}

.second,
.third {
    margin-left: -2%;
}

.deteil-read {
    color: #f07539;
    margin-bottom: 25px;
    display: inline-block;
    margin-top: 15px;
    font-size: 12px;
}

.dates {
    line-height: 1.3em;
    font-size: 12px;
    margin-bottom: 13px;
    color: #adadad;
}

.thumbnail {
    box-sizing: border-box;
}

.button-event {
    background-color: #f07539;
    margin: 20px;
    position: absolute;
    top: 0;
    color: #fff;
    font-size: 12px;
    padding: 0.6em 1.2em;
    line-height: 1;
    font-weight: 400;
    margin: 13px;
    border-radius: 999px;
    margin-top: 29%;
    margin-left: 18%;
}

.choice {
    text-align: center;
    color: #1a355f;
}

.color-blue {
    opacity: 100%;
    color: #19345E;
}

.blog-link {
    color: #19345e;
    text-decoration: none;
}
/*---------------Blog  Detail---------------*/

.blog {
    text-align: center;
    color: #19345E;
    margin-top: 100px;
}

.blog-img {
    width: 100%;
    height: 421%;
    margin-top: 60px;
}

.sentence {
    color: #19345E;
    font-size: 15px;
    margin-top: 5%;
}

.larry-stark {
    color: #19345E;
    font-size: 15px;
    margin-top: 4%;
}

.freelencer {
    color: #19345E;
    margin-top: 4%;
    font-size: 50px;
}

/*---------------CONTACT---------------*/

.contact {
    text-align: center;
    color: #19345E;
    margin-top: 100px;
}

.phone {
    display: -webkit-box;
}

.phone-img {
    width: auto;
    height: 15px;
    margin-right: 10px;
    margin-left: 17px;
}

.email {
    display: -webkit-box;
}

.email-img {
    width: auto;
    height: 15px;
    margin-right: 10px;
    margin-left: 17px;
}

.website {
    display: -webkit-box;
}

.website-img {
    width: auto;
    height: 15px;
    margin-right: 10px;
    margin-left: 17px;
}

.social-icon {
    width: auto;
    height: 25px;
    margin-left: 17px;
    margin-right: -13px;
}

.title-icon {
    margin-top: 15px;
}

.mobilephone {
    margin-top: 60px;
}

.paragraph {
    margin-top: 60px;
    margin-left: -145px;
}

.form {
    margin-left: -245px;
}

.col-12 {
margin-right: -100px;
padding-right: -100px;
}

#inputAddress {
    border-color: #F47522;
    size: 1px;
}

span {
    color: #FF0303;
    opacity: 100%;
}

#inputMessage {
    height: 180px;
}

.send {
    display: inline-block;  
    background-color:#F47522;
    color: #FFFFFF;
    border-color: #F47522;
    margin-top: 30px;
    padding-left: 30px;
    border-radius: 50px;
    padding-right: 30px;
    width: auto;
    height: 40px;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 100px;
}

.send-img {
    background-color:#F47522;
    width: auto;
    height: 20px;
    margin-right: 5px;    
}

/*---------------Footer---------------*/
footer {
    background: #19345E;  
    font-style: muli;
    font-size: 14px;  
    display: block;  
    width: auto;
    height: 141px;
}

.icon-footer {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    padding-right: -2px;
    text-align: left;
    margin-right: 10px;    
}

.text-footer {
    color: #FFFFFF;
    padding-top: 35px;
    padding-right: 55px;
}

.logo-footer {
    width: 100px;
    margin-top: 41px;
    margin-left: 37px;
    top: 3053px;
    height: 50px;
}

.icon {
    text-align: center;
}

.copy {
    text-align: right;
    width: auto;
    margin-right: 18px;
    margin-top: 60px;
    height: 40px;
    color: #FFFFFF;
}

.row {
    --bs-gutter-x: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.teks-footer {
    margin-top: 42px;
    padding-left: 95px;
    padding-top: 35px;
}

